* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  background: whitesmoke;
}

.daaAssignment {
  background: #192a56;
  padding: 30px;
  border-radius: 10px;
  width: 35vw;
  margin: auto;
  margin-top: 10px;
  padding: 40px;
}

.daaAssignment h2 {
  text-align: center;
  color: rgb(11, 230, 193);
  margin-bottom: 30px;
}

.textboxes {
  display: flex;
  flex-direction: column;
}

.textpane {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #192a56;
  padding: 25px;
}

.textpane-coordinates {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #192a56;
  padding: 30px;
}

.textbox {
  display: flex;
  flex-direction: column;
  background: whitesmoke;
  width: 100%;
  margin-bottom: 40px;
  color: #192a56;
  text-align: center;
}

.coordinates {
  text-align: left;
  margin-left: 30px;
}

.last {
  margin-bottom: 20px;
}

.graph img {
  width: 80%;
  margin-top: 20px;
  border: 2px solid #192a56;
  margin-bottom: 10px;
}

.random {
  margin-left: 5px;
}

.key-insights {
  text-align: justify;
  width: 100%;
  margin: auto;
}

.key-insights h2 {
  text-align: center;
  margin-bottom: 10px;
}

.key-insights ul {
  padding: 10px;
  background: #192a56;
  padding: 10px;
}

.key-insights ul li {
  padding: 10px;
  margin: 10px;
  color: whitesmoke;
  font-size: large;
}
